@tailwind base;
@tailwind components;
@tailwind utilities;
/* slick-carousel CSS */
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";


@layer utilities {
  .animate-fade-in-up {
    animation: fade-in-up 0.5s ease-out forwards;
  }
}

@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fade-in-up 0.5s ease-out forwards;
}

@keyframes slideUpIn {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideUpOut {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.animate-slideUpIn {
  animation: slideUpIn 1s ease-in-out;
}

.animate-slideUpOut {
  animation: slideUpOut 1s ease-in-out;
}

